@charset "UTF-8";
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #F4F2F2;
	
}

a,
a:link {
	text-decoration: none;
	border-bottom: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: unset;
}

a,
a label {
	cursor: pointer;
}

a:hover {
	color: gray;
	cursor: pointer!important;
}

.white {
	color: white;
}

.black {
	color: #191919;
}

.white-border {
	border-bottom: 1px solid white;
}

.black-border {
	border-bottom: 1px solid#191919;
}

section {
	width: 100%;
}

h3 {
	letter-spacing: 3px;
}

svg g:hover {
	cursor: pointer;
}



body {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

header {
	background-color: #191919;
	width: 100%;
	position: relative;
	padding: 3%;
	height: 100vh;
	overflow: hidden;
	padding-bottom: 15%;
}

header li a img{
	max-width: 25%;
	padding:0;
	
}
header li:first-of-type a::after{
	width:0!important;
}

.navfull {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: flex-start;
	padding: 0 2%;
}

.navfull li,
.navfull nav li a {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: white;
	display: inline-block;
	text-align: right;
}

.navfull li a {
	padding-right: 5vw;
	margin-bottom: 5px;
	letter-spacing: 1.3px;
}

.navfull ul {
	padding-right: 0%;
	border-bottom: 1px solid white;
	position: fixed;
	right: 5%;
}

.fondh1 {
	text-align: center;
	padding: 0 5%;
}

.fondh1 img {
	max-width: 88%;
	padding-top: 5% !important;
	margin-left: 8%;
	opacity: .8;
}

.fondh1 span {
	position: absolute;
	color: white;
	left: 5%;
	right: 0;
	top: 35%;
	bottom: 0;
	text-align: left;
}

h1 {
	font-size: 77px;
	font-weight: Bold;
}

h2 {
	font-family: 'Playfair Display', sans-serif;
	font-size: 28px;
	display: inline;
}

h2 span {
	position: static!important;
	display: inline-block;
}


/*******************************LOGO ANIM**********************************/

.backhome {
	z-index: 100;
	width: 5.5vw;
	position: relative;
}

.backhome img,
.backhome svg {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.backhome svg {
	width: 100%;
	background-color: #191919;
	fill: white;
}

.backhome img {
	-webkit-transition: .25s cubic-bezier(.645, .045, .355, 1);
	transition: .25s cubic-bezier(.645, .045, .355, 1);
	clip: rect(0 0 8vw 0);
	-webkit-clip-path: inset(0 8vw 0 0);
	clip-path: inset(0 8vw 0 0)
}

.backhome:hover img {
	opacity: 1;
	clip: rect(0 8vw 8vw 0);
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0)
}


/****************************ANIMATION**********************************/


/*#Acteurs{
background-image: url("../../assets/img/testmotifmp2.png");
     -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
    }*/

#Acteurs svg {
	height: 100vh;
	max-width: 100%;
}

#paths {
	visibility: hidden;
	padding-top: 20px;
}


/****************************GALAXY**********************************/

#Acteurs svg {
	height: 100vh;
	width: 100%;
	margin-bottom: 6%;
}

#paths {
	visibility: hidden;
	padding-top: 20px;
}

.st0 {
	fill: none;
	stroke: #0084D4;
	stroke-miterlimit: 10;
}

.st1 {
	fill: #502B8D;
}

.st2 {
	opacity: 1;
}

.st3 {
	fill: #F4F2F2;
}

.st4 {
	fill: #002E6D;
}

.st5 {
	fill: #131F6B;
}

.st6 {
	fill: #1D1D1B;
}

.st7 {
	fill: #282F61;
}

.st8 {
	fill: #55565A;
}


#acteurs-mobile{
	display: none;
	width:100%;
	
	
}
#acteurs-mobile a{
	padding:25%;
	padding-top:7%;
	padding-bottom: 7%;
	width: 100%;
	display: block;
	
	
}

#acteurs-mobile img {
	
	max-width: 100%;
}

/*****************************LITEBOXES*********************************/


/************ Turgot ***************/

.lbx {
	height: 100vh;
	background-image: url("../../assets/img/fondturgotlbx.png");
	background-position: 18% center;
	background-repeat: no-repeat;
	background-size: 60%;
	padding-left: 10%;
	position: relative;
	display: none;
}

.lbx .innerlbx {
	width: 68%;
	display: inline-block;
	margin-left: 24%;
	background-color: white;
	margin-top: 15%;
	padding: 50px;
	position: relative;
	height: 70vh;
	-webkit-box-shadow: 7px 7px 55px #888888;
	box-shadow: 7px 7px 55px #888888;
}

.lbx p {
	font-family: 'Roboto Slab';
	font-weight: 300;
	font-size: 13px;
	display: inline-block;
	margin-bottom: 30%;
	padding: 5% 0;
}

.lbx .paraglbx {
	width: 60%;
	display: inline-block;
}

.imglbx img {
	max-width: 100%;
}

.imglbx {
	background-color: #131f6b;
	opacity: .7;
	padding: 6%;
	padding-top: 3%;
	padding-bottom: 25%;
	max-width: 30%;
	position: absolute;
	top: -75px;
	right: 50px;
	-webkit-box-sizing: padding-box;
	box-sizing: padding-box;
}

.lbx a {
	display: inline-block;
	font-family: 'Montserrat';
	font-weight: bold;
	color: #131f6b;
	width: 29%;
	vertical-align: bottom;
	border-right: 4px solid #131f6b;
	padding-right: 2%;
	margin-bottom: 10%;
	margin-left: 10%;
}

.featherlight .featherlight-content {
	padding: 0px 25px 0;
	border-bottom: 25px solid transparent;
	margin-left: 5%;
	margin-right: 5%;
	max-height: 95%;
}

.featherlight .featherlight-close-icon {
	line-height: 48px;
	width: 53px;
	font-size: 26px;
	font-weight: lighter;
	font-family: 'Montserrat';
}

.lbx h5 {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 19px;
	color: #131f6b;
	padding: 0 0%;
	line-height: 25px;
}


/************ Orelis lbx ***************/

.lbx2 {
	height: 100vh;
	background-image: url("../../assets/img/fondturgotlbx_0003_fondorelislbx.png");
	background-position: 18% center;
	background-repeat: no-repeat;
	background-size: 60%;
	padding-left: 10%;
	position: relative;
	display: none;
	opacity: .8;
}

.lbx2 .innerlbx {
	width: 68%;
	display: inline-block;
	margin-left: 24%;
	background-color: white;
	margin-top: 15%;
	padding: 50px;
	position: relative;
	height: 70vh;
	-webkit-box-shadow: 7px 7px 55px #888888;
	box-shadow: 7px 7px 55px #888888;
}

.lbx2 p {
	font-family: 'Roboto Slab';
	font-weight: 300;
	font-size: 13px;
	display: inline-block;
	margin-bottom: 30%;
	padding: 5% 0;
}

.lbx2 .paraglbx {
	width: 60%;
	display: inline-block;
}

.imglbx2 img {
	max-width: 120%;
}

.imglbx2 {
	background-color: #004993;
	opacity: .7;
	padding: 6%;
	padding-top: 3%;
	padding-bottom: 25%;
	max-width: 30%;
	position: absolute;
	top: -70px;
	right: 50px;
	-webkit-box-sizing: padding-box;
	box-sizing: padding-box;
}

.lbx2 a {
	display: inline-block;
	font-family: 'Montserrat';
	font-weight: bold;
	color: #004993;
	width: 29%;
	vertical-align: bottom;
	border-right: 4px solid #004993;
	padding-right: 2%;
	margin-bottom: 10%;
	margin-left: 10%;
}

.lbx2 h5 {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 19px;
	color: #004993;
	padding: 0 0%;
	line-height: 25px;
}


/************ 23 lbx ***************/

.lbx3 {
	height: 100vh;
	background-image: url("../../assets/img/fondturgotlbx_0001_23.png");
	background-position: 18% center;
	background-repeat: no-repeat;
	background-size: 60%;
	padding-left: 10%;
	position: relative;
	display: none;
	opacity: .8;
}

.lbx3 .innerlbx {
	width: 68%;
	display: inline-block;
	margin-left: 24%;
	background-color: white;
	margin-top: 15%;
	padding: 50px;
	position: relative;
	height: 70vh;
	-webkit-box-shadow: 7px 7px 55px #888888;
	box-shadow: 7px 7px 55px #888888;
}

.lbx3 p {
	font-family: 'Roboto Slab';
	font-weight: 300;
	font-size: 13px;
	display: inline-block;
	margin-bottom: 30%;
	padding: 5% 0;
}

.lbx3 .paraglbx {
	width: 60%;
	display: inline-block;
}

.imglbx3 img {
	max-width: 120%;
}

.imglbx3 {
	background-color: #000000;
	opacity: .9;
	padding: 6%;
	padding-top: 3%;
	padding-bottom: 25%;
	max-width: 30%;
	position: absolute;
	top: -70px;
	right: 50px;
	-webkit-box-sizing: padding-box;
	box-sizing: padding-box;
}

.lbx3 a {
	display: inline-block;
	font-family: 'Montserrat';
	font-weight: bold;
	color: #000000;
	width: 29%;
	vertical-align: bottom;
	border-right: 4px solid #000000;
	padding-right: 2%;
	margin-bottom: 10%;
	margin-left: 10%;
}

.lbx3 h5 {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 19px;
	color: #000000;
	padding: 0 0%;
	line-height: 25px;
}


/************ fundee lbx ***************/

.lbx4 {
	height: 100vh;
	background-image: url("../../assets/img/fondturgotlbx_0000_fundee.png");
	background-position: 18% center;
	background-repeat: no-repeat;
	background-size: 60%;
	padding-left: 10%;
	position: relative;
	display: none;
	opacity: .9;
}

.lbx4 .innerlbx {
	width: 68%;
	display: inline-block;
	margin-left: 24%;
	background-color: white;
	margin-top: 15%;
	padding: 50px;
	position: relative;
	height: 70vh;
	-webkit-box-shadow: 7px 7px 55px #888888;
	box-shadow: 7px 7px 55px #888888;
}

.lbx4 p {
	font-family: 'Roboto Slab';
	font-weight: 300;
	font-size: 13px;
	display: inline-block;
	margin-bottom: 30%;
	padding: 5% 0;
}

.lbx4 .paraglbx {
	width: 60%;
	display: inline-block;
}

.imglbx4 img {
	max-width: 100%;
}

.imglbx4 {
	background-color: #283062;
	opacity: .83;
	padding: 6%;
	padding-top: 3%;
	padding-bottom: 25%;
	max-width: 30%;
	position: absolute;
	top: -70px;
	right: 50px;
	-webkit-box-sizing: padding-box;
	box-sizing: padding-box;
}

.lbx4 a {
	display: inline-block;
	font-family: 'Montserrat';
	font-weight: bold;
	color: #283062;
	width: 29%;
	vertical-align: bottom;
	border-right: 4px solid #283062;
	padding-right: 2%;
	margin-bottom: 10%;
	margin-left: 10%;
}

.lbx4 h5 {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 19px;
	color: #283062;
	padding: 0 0%;
	line-height: 25px;
}


/************ fiducee lbx ***************/

.lbx5 {
	height: 100vh;
	background-image: url("../../assets/img/fondturgotlbx_0002_fiducee.png");
	background-position: 18% center;
	background-repeat: no-repeat;
	background-size: 60%;
	padding-left: 10%;
	position: relative;
	display: none;
	opacity: .9;
}

.lbx5 .innerlbx {
	width: 68%;
	display: inline-block;
	margin-left: 24%;
	background-color: white;
	margin-top: 15%;
	padding: 50px;
	position: relative;
	height: 70vh;
	-webkit-box-shadow: 7px 7px 55px #888888;
	box-shadow: 7px 7px 55px #888888;
}

.lbx5 p {
	font-family: 'Roboto Slab';
	font-weight: 300;
	font-size: 13px;
	display: inline-block;
	margin-bottom: 30%;
	padding: 5% 0;
}

.lbx5 .paraglbx {
	width: 60%;
	display: inline-block;
}

.imglbx5 img {
	max-width: 100%;
}

.imglbx5 {
	background-color: #542C8E;
	opacity: .83;
	padding: 6%;
	padding-top: 3%;
	padding-bottom: 20%;
	max-width: 30%;
	position: absolute;
	top: -70px;
	right: 50px;
	-webkit-box-sizing: padding-box;
	box-sizing: padding-box;
}

.lbx5 a {
	display: inline-block;
	font-family: 'Montserrat';
	font-weight: bold;
	color: #542C8E;
	width: 29%;
	vertical-align: bottom;
	border-right: 4px solid #542C8E;
	padding-right: 2%;
	margin-bottom: 10%;
	margin-left: 10%;
}

.lbx5 h5 {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 19px;
	color: #542C8E;
	padding: 0 0%;
	line-height: 25px;
}


/*****************************EVENTS*********************************/

#Events img {
	max-width: 100%;
}

#Events {
	color: white;
	position: relative;
	z-index: 0;
	padding-bottom: 5%;
	text-align: center;
}

#img-bg {
	background-image: url("../../assets/img/backgroundevents.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#Events .background {
	position: relative;
	background-color: rgba(25, 25, 25, .05);
}

#Events .background:before {
	content: ' ';
	display: block;
	position: absolute;
	text-align: center;
	background-image: url("../../assets/img/backgroundevents.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .8;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#Events .background:after {
	content: ' ';
	display: block;
	position: absolute;
	height: 75px;
	background-color: rgba(25, 25, 25, .67);
	text-align: center;
	width: 90%;
	margin: 0 5%;
	right: 0;
	left: 0;
}

#background-transp {
	margin: 0 5%;
	background-color: rgba(25, 25, 25, .67);
}

#Events h3 {
	background-color: rgba(25, 25, 25, .8);
	width: 90%;
	text-align: center;
	margin: 0 auto;
	padding: 3%;
	padding-top: 7%;
	font-size: 18px;
    height: 75px;
}

.col-events {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.col-events article {
	display: inline-block;
	overflow: visible;
	vertical-align: top;
	position: relative;
	margin-bottom: -5vw;
	padding-left: 10%;
	padding-right: 25%;
	margin-top: 15%;
}

.col-events article>img {
	width: 90%;
}

.eventsdata {
	background-color: #1d1d1b;
	position: relative;
	top: -5vw;
	left: 8%;
	padding: 3%;
	width: 115%;
	text-align: left;
}

.eventdescription {
	font-family: 'Roboto Slab';
	font-size: 13.5px;
	padding-left: 30%;
	font-weight: 100;
	letter-spacing: .3px;
	padding-bottom: 5%;
	padding-right: 5%;
}

.eventcontact {
	font-size: 13px;
	width: 72.5%;
	text-align: right;
	display: inline-block;
	text-decoration: none;
	vertical-align: bottom;
	font-family: 'Roboto Slab';
	font-weight: 300;
	letter-spacing: .3px;
}

.eventlinklogo {
	width: 22.5%;
	display: inline-block;
	vertical-align: bottom;
}

.eventlinklogo img {
	max-width: 100%;
	padding-bottom: 2%;
}

h3 {
	text-align: center;
	margin-bottom: 10%;
}

.new-events {
	width: 100%;
	padding-bottom: 10%;
}

.eventsdata h4 {
	font-size: 1.3rem;
	letter-spacing: 1px;
	font-weight: 300;
}

.eventdate {
	font-size: .8rem;
	font-weight: 300;
	letter-spacing: 1px;
}

.hideelement {
	display: none!important;
}

.navmobile {
	display: none;
	position:relative;
}


/***************Event Info*************************/

.event-info {
	background-color: #F4F2F2;
	position: relative;
	display: none;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.event-info .background-event-info {
	width: 100%;
	display: inline-block;
	background-color: white;
	margin: 0 auto;
	padding: 50px;
	position: relative;
	-webkit-box-shadow: 7px 7px 55px #888888;
	box-shadow: 7px 7px 55px #888888;
	background-color: white;
}

.event-info h6 {
	width: 100%;
	text-align: left;
	margin: 0 auto;
	padding: 0% 3%;
	padding-bottom: 5%;
	font-size: 25px;
	color: black;
}

.event-info img {
	width: 65%;
	text-align: left;
	margin: 0 auto;
	padding: 3% 3%;
	font-size: 30px;
	color: black;
	-webkit-box-shadow: 7px 7px 55px #888888;
	box-shadow: 7px 7px 55px #888888;
}

.event-info .event-info-info {
	width: 85%;
	text-align: left;
	margin: 0 auto;
	padding: 5%, 3%;
	font-size: 15px;
	color: black;
	font-family: 'Roboto Slab';
	font-weight: 300;
	padding-top: 7%;
}

.event-info-date {
	width: 70%;
	text-align: left;
	font-size: 15px;
	color: dimgray;
	padding-top: 5%;
	margin: 0 auto;
	font-family: 'Roboto Slab';
	font-weight: 700;
}

.event-info-link {
	width: 50%;
	text-align: center;
	color: #101B56 !important;
	-webkit-box-shadow: 7px 7px 55px #888888;
	box-shadow: 7px 7px 55px #888888;
	font-weight: 700;
	font-size: 17px;
}

.event-info-link:hover {
	color: gray !important;
}

.event-info-logo {
	width: 100%;
	text-align: left;
}

#event-info .event-info-logo {
	width: 100%;
	display: inline-block;
}

#event-info .event-info-logo img {
	width: 20%;
	text-align: left;
	padding: 3% 3%;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.lbx .innerlbx {
	width: 68%;
	display: inline-block;
	margin-left: 24%;
	background-color: white;
	margin-top: 15%;
	padding: 50px;
	position: relative;
	height: 70vh;
	-webkit-box-shadow: 7px 7px 55px #888888;
	box-shadow: 7px 7px 55px #888888;
}

.lbx p {
	font-family: 'Roboto Slab';
	font-weight: 300;
	font-size: 13px;
	display: inline-block;
	margin-bottom: 30%;
	padding: 5% 0;
}

.lbx .paraglbx {
	width: 60%;
	display: inline-block;
}

.imglbx img {
	max-width: 100%;
}

.imglbx {
	background-color: #131f6b;
	opacity: .7;
	padding: 6%;
	padding-top: 3%;
	padding-bottom: 25%;
	max-width: 30%;
	position: absolute;
	top: -75px;
	right: 50px;
	-webkit-box-sizing: padding-box;
	box-sizing: padding-box;
}

.lbx a {
	display: inline-block;
	font-family: 'Montserrat';
	font-weight: bold;
	color: #131f6b;
	width: 29%;
	vertical-align: bottom;
	border-right: 4px solid #131f6b;
	padding-right: 2%;
	margin-bottom: 10%;
	margin-left: 10%;
}

.featherlight .featherlight-content {
	padding: 0px 25px 0;
	border-bottom: 25px solid transparent;
	margin-left: 5%;
	margin-right: 5%;
	max-height: 95%;
}

.featherlight .featherlight-close-icon {
	line-height: 48px;
	width: 53px;
	font-size: 26px;
	font-weight: lighter;
	font-family: 'Montserrat';
}

.lbx h5 {
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 19px;
	color: #131f6b;
	padding: 0 0%;
	line-height: 25px;
}


/***************************************CONTACT********************************************/

#Contact {
	height: 100vh;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	overflow: hidden;
}

#Contact h3 {
	padding: 0;
	margin: 0;
	font-size: 18px;
	padding-top: 13%;
}

#Contact a {
	font-size: 16.5px;
	font-weight: bold;
	color: #5C315E;
	letter-spacing: 3px;
}

#Contact div {
	font-size: 15px;
}


/***************************************FOOTER********************************************/

footer {
	background-color: #191919;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding: 3% 5%;
}

footer img {
	max-width: 15%;
	padding-left: 2%;
	margin-left: 10%;
}

footer a {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	color: white! important;
}

footer ul {
	margin: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

footer ul ul {
	display: inline-block;
	width: 48%;
	padding: 0 3%;
	letter-spacing: 2px;
}

footer ul ul li {
	padding: 7% 0;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

#social {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: right;
}

#social a {
	color: #191919 !important;
}

.smGlobalBtn {
	/* global button class */
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 30px;
	height: 30px;
	padding: 0px;
	text-decoration: none;
	text-align: center;
	color: #191919;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.5em;
	border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 37px;
	background-color: white;
	margin: 5%;
}


/* facebook button class*/

.facebookBtn:before {
	/* use :before to add the relevant icons */
	font-family: "FontAwesome";
	content: "\f09a";
	/* add facebook icon */
}

.twitterBtn:before {
	font-family: "FontAwesome";
	content: "\f099";
	/* add twitter icon */
}

.linkedinBtn:before {
	font-family: "FontAwesome";
	content: "\f0e1";
	/* add linkedin icon */
}

.youtubeBtn:before {
	font-family: "FontAwesome";
	content: "\f167";
	/* add linkedin icon */
}


/* Responsive 15" */

@media only screen and (min-width: 1200px) {
	/* Home page */
	.navfull li,
	navfull li a {
		font-size: 14px;
		color:white!important
	}
	header div img {
		max-width: 83%;
		padding-top: 9%;
	}
	.backhome {
		width: 5vw;
	}
	/* .fondh1 img {
    max-width: 90%;
    padding-top: 15.5% !important;
    margin-left: 7%;
    opacity: .8;
}*/
	h1 {
		font-size: 70px;
	}
	h2 {
		font-size: 25px;
	}
	/* Galaxie page */
	.lbx {
		height: 92vh;
		background-size: 50%;
	}
	.lbx2 {
		height: 92vh;
		background-size: 50%;
	}
	.lbx3 {
		height: 92vh;
		background-size: 50%;
	}
	.lbx4 {
		height: 92vh;
		background-size: 50%;
	}
	.lbx5 {
		height: 92vh;
		background-size: 50%;
	}
	.lbx6 {
		height: 92vh;
		background-size: 50%;
	}
	/* Events */
}


/* tablets */

@media only screen and (min-width: 1024px) {
	/* Home page */
	/* .fondh1 img {
    max-width: 91%;
    padding-top: 10.5% !important;
    margin-left: 7%;
    opacity: .8;
}*/
	.navfull li,
	navfull li a {
		font-size: 14px;
	}
	header div img {
		max-width: 83%;
		padding-top: 9%;
	}
	.backhome {
		width: 5vw;
	}
	h1 {
		font-size: 65px;
	}
	h2 {
		font-size: 26px;
	}
	/* Galaxie page */
	/*	.lbx {
		height: 70vh;
		background-size: 53%;
        background-position: 12% center;
        padding-left: 4%;
}
    
 .lbx .innerlbx {
    width: 72%;
    height: 62vh;
    }
    
    .lbx a {
    margin-bottom:16%;
    margin-left: 8%;
}
    
    .lbx2 {
    height: 70vh;
	background-size: 53%;
    background-position: 12% center;
        padding-left: 4%;    

	}
     .lbx2 .innerlbx {
    width: 72%;
    height: 62vh;
    }
    
        .lbx2 a {
    margin-bottom: 16%;
    margin-left: 8%;
}    

    
    .lbx3 {
	height: 70vh;
	background-size: 53%;
    background-position: 12% center;
	    padding-left: 4%;
    
}
     .lbx3 .innerlbx {
    width: 72%;
    height: 62vh;
    }
    
        .lbx3 a {
    margin-bottom: 16%;
    margin-left: 8%;
            
}
    .lbx4 {
		height: 70vh;
		background-size: 53%;
	   background-position: 12% center;
            padding-left: 4%;
	}
     .lbx4 .innerlbx {
    width: 72%;
    height: 62vh;
    }
    
        .lbx4 a {
    margin-bottom: 16%;
    margin-left: 8%;
}
    
    .lbx5 {
	height: 70vh;
	background-size: 53%;
	background-position: 12% center;
            padding-left: 4%;
}
     .lbx5 .innerlbx {
    width: 72%;
    height: 62vh;     
    }
    
        .lbx5 a {
    margin-bottom: 16%;
    margin-left: 8%;
}
    
    .lbx6 {
		height: 70vh;
		background-size: 53%;
		background-position: 12% center;
            padding-left: 4%;
	}
     .lbx6 .innerlbx {
    width: 72%;
    height: 62vh;     
    }
    
        .lbx6 a {
    margin-bottom: 16%;
    margin-left: 8%;
}*/
	/* Events */
	.eventsdata h4 {
		font-size: 1.2em;
	}
	.eventdescription {
		font-size: 12px;
		padding-left: 24%;
		padding-top: 2%;
	}
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
	header {
		padding: 0%;
	}
	.fondh1 {
		padding: 0;
	}
	.fondh1 img {
		max-width: 100%;
		padding-top: 22.5% !important;
		margin-left: 0%;
	}
	.navfull {
		padding: 6% 2%;
	}
	.navfull li,
	navfull li a {
		font-size: 16px;
	}
	header div img {
		max-width: 83%;
		padding-top: 9%;
	}
	.backhome {
		width: 6vw;
		left: 3%;
	}
	.button_container {
		right: 4%;
		height: 27px;
		width: 35px;
	}
	.fondh1 span {
		position: absolute;
		color: white;
		left: 0%;
		right: 0;
		top: 40%;
		bottom: 0;
		text-align: center;
	}
	h1 {
		font-size: 35px;
	}
	h2 {
		font-size: 15px;
		padding-top: 3%;
	}
	/* Galaxie page */
	#Acteurs svg {
		margin-bottom: 0%;
	}
	.lbx {
		background-image: none;
		padding-left: 0%;
	}
	.lbx a {
		width: 41%;
padding-right: 0%;
margin-left: 47%;
font-size: 15px
	}
	.lbx .paraglbx {
	width: 90%;
    margin-top: 26%;
    margin-left: 5%;
	}
	
	.lbx .innerlbx {
    width: 90%;
    display: inline-block;
    margin-left: 5%;
    background-color: white;
    margin-top: 15%;
    padding: 0px;
    position: relative;
    height: 100vh;
    -webkit-box-shadow: 7px 7px 55px #888888;
    box-shadow: 7px 7px 55px #888888;
}
	.lbx2 {
		background-image: none;
		padding-left: 0%;
	}
	.lbx2 a {
		width: 41%;
padding-right: 0%;
margin-left: 47%;
font-size: 15px
	}
	.lbx2 .paraglbx {
		width: 78%;
		margin-top: 26%;
	}
	.lbx3 {
		background-image: none;
		padding-left: 0%;
	}
	.lbx3 a {
		width: 41%;
padding-right: 0%;
margin-left: 47%;
font-size: 15px
	}
	.lbx3 .paraglbx {
		width: 78%;
		margin-top: 26%;
	}
	.lbx4 {
		background-image: none;
		padding-left: 0%;
	}
	.lbx4 a {
		width: 41%;
padding-right: 0%;
margin-left: 47%;
font-size: 15px
	}
	.lbx4 .paraglbx {
		width: 78%;
		margin-top: 26%;
	}
	.lbx5 {
		background-image: none;
		padding-left: 0%;
	}
	.lbx5 a {
		width: 41%;
padding-right: 0%;
margin-left: 47%;
font-size: 15px
	}
	.lbx5 .paraglbx {
		width: 78%;
		margin-top: 26%;
	}
	.lbx6 {
		background-image: none;
		padding-left: 0%;
	}
	.lbx6 a {
		width: 41%;
padding-right: 0%;
margin-left: 47%;
font-size: 15px
	}
	.lbx6 .paraglbx {
		width: 78%;
		margin-top: 26%;
	}
	.imglbx {
		max-width: 35%;
		top: -57px;
		right: 203px;
		padding-bottom: 19%;
	}
	.imglbx2 {
		max-width: 35%;
		top: -57px;
		right: 203px;
		padding-bottom: 19%;
	}
	.imglbx3 {
		max-width: 35%;
		top: -57px;
		right: 203px;
		padding-bottom: 19%;
	}
	.imglbx4 {
		max-width: 35%;
		top: -57px;
		right: 203px;
		padding-bottom: 19%;
	}
	.imglbx5 {
		max-width: 35%;
		top: -57px;
		right: 203px;
		padding-bottom: 19%;
	}
	.imglbx6 {
		max-width: 35%;
		top: -57px;
	    right: 203px;
		padding-bottom: 19%;
	}
	#Contact h3 {
		padding: 0;
		margin: 0;
		font-size: 25px;
		padding-top: 0%;
	}
	#Contact a {
		font-size: 21.5px;
	}
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
	.navfull ul{
		display: none!important;
	}
	.navmobile {
		display: block!important;
	}
	
	#animation{
		display: none;
	}
	
	.col-events{
		width:100%;
		display:block;
	}
	.col-events article{
		margin:inherit;
		margin-top:15%;
		padding: inherit;
	}
	.eventsdata {
	top:0;
	right:0;
	left:0;
	bottom:0;
	width:100%;
}
	
	#acteurs-mobile{
		display: block;
		
		
	}
	#event-info .background-event-info{
		width: 90%;
	}

	#event-info .background-event-info *{
		
		text-align: center;
	}
	#event-info .event-info-logo img {

    width: 30%;
    text-align: left;
    padding: 3% 3%;
    -webkit-box-shadow: none;
    box-shadow: none;

	}
	
	footer {
		display: block;
	}
	footer *{
		display: block;
	}
	
	footer img{
		margin:unset;
		padding:unset;
		display: inline-block;
	}
	footer a{
		text-align: center;
		width:100%;
		padding:3%;
	}
	footer ul ul {
	display: block;
	width: 100%;
	padding: 0 3%;
	letter-spacing: 2px;
		text-align: center;
}

	footer ul ul li {
	padding: 7% 0;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}
	
	#social{
		text-align: center;
	}


}
/*
#lightboxes > div{
	height:90vh;
	padding-left: unset;
	
}
.innerlbx {
	margin-left: 0!important;
	width:100%!important;
	margin-top: 0;
	height: 90vh;

	
}
.paraglbx {
	width:100%!important;
	margin-top:0!important;
}*/



/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
	#Contact a {
	font-size: 18.5px;
	
}
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}

